{% extends 'orders/base.html' %}
{% block title %} {{user}}'s cart {%endblock%}
{%block h1 %} <h1 class="container display-3"> Cart </h1> {%endblock%}
{%block body%}
<div class="container"> 
    <div class="jumbotron">{{user}}'s cart:</div> 
    {{name}}'s cart
    <br>
    {%for item in cart%}
    <div class='d-flex justify-content-between border-bottom pb-2 mb-1 pt-2' id="{{item.id}}">
        <div> {{item.item}} </div>
        <div>{{item.amount}}</div>
        <div class="del btn btn-danger"> remove </div>

    </div> 
    {%endfor%}
</div>
{% endblock %}