{% extends "orders/base.html" %}

{% block title %}Pizza Shop{%endblock%}
{% block body %}
    <h1>Menu of Bazz's pizza</h1>
    {% for category in categories %}
        <table>
            <caption>{{category}}</caption>
            <tbody></tbody>
                <tr>
                    <th></th>
                    {% for size in sizes %}
                        <th>  {{size}} </th>
                    {%endfor%}
                </tr>
                {% for item in menu %}
                    {% if item.category == category %}
                        <tr>
                            <td> {{item}}</td>
                            <td> {{item.price}}</td>
                            <td> {{item.price}}</td>
                        </tr>
                    {% endif%}
                {%endfor%}
            </tbody>
        </table>
    {%endfor%}
{%endblock%}

