{% extends "orders/base.html" %}

{% block title %}Pizza Shop{%endblock%}
{%block h1%} <h1 class='display-2 text-center item'>Menu of Bazz's pizza</h1>{%endblock%}
{% block body %}
    <div class='container-fluid text-center'>      
        <div class="container col-6">
        <table class='table mt-0 '>
             <!-- The Modal -->
             <div id="myModal" class="modal">
                    <!-- Modal content -->
                   
            </div>
            {% for category in categories %}
                <table class='table'>
                <thead class='thead-light'>
                    <tr>
                        <th colspan="3" name='{{category}}'>{{category}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% if category.sizes.all %}
                    <tr>
                        <th></th>
                        {% for size in category.sizes.all %}
                            <th>  {{size}} </th>
                        {%endfor%}
                    </tr>
                    {%endif%}
                    {% for kind in category.kinds.all %}
                       
                        <tr>
                            <td id='{{category.id}}_{{kind.id}}'> {%if not category.no_price%}<div id=''class="container d-flex justify-content-start"> <span class=' myBtn btn btn-primary mr-5'>add</span> <span>{{kind}}</span> </div>{%else%} <span>{{kind}}</span>{%endif%}</td>
                            {% for size in category.sizes.all%}
                                {%for menuItem in menu %}
                                    {% if menuItem.category == category and menuItem.kind == kind and menuItem.size == size%}
                                        <td id='{{menuItem.id}}' class='item'> {{menuItem.price}}</td>
                                    {% endif %}
                                {%endfor%}
                                {% empty %}
                                    {%for menuItem in menu %}
                                        {% if menuItem.category == category and menuItem.kind == kind %}
                                            <td id='{{menuItem.id}}' class='item'>{{menuItem.price}}</td>
                                        {% endif %}
                                    {%endfor%}
                            {%endfor%}
                        </tr>
                    {%endfor%}
                    </tbody>        
                </table>
            {%endfor%}
        </table>
        </div>
    </div>
{%endblock%}

