{% extends 'orders/base.html'%}
{%block title%} {{user}} {%endblock%}
{%block h1%} <h1 class="title container display-3">{{user}}'s profile</h1> {%endblock%}
{% block body%}
    <div class="container">
        <h2 class="display-3">{{user}}</h2>
        {% if user.profile.firstname %} 
        <h3>First Name: {{user.profile.firstname}}</h3>
        {%endif%}
        {%if user.profile.lastname %}
        <h3>Last Name: {{user.profile.lastname}}</h3>
        {%endif%}
        {%if user.profile.address %}
        <h3>Address: {{user.profile.address}}</h3>
        {%endif%}
        <table class='table w-100'>
            <h3>Orders:</h3>
            <thead class='thead-light'>
                <tr>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for order in user.profile.orders.all%}
                <tr>
                    <td>
                        {%for item in order.item.all%}
                        <div> {{item.item}}</div>
                        {%endfor%}
                    </td>
                    <td>
                        {%for item in order.item.all%}
                        <div> {{item.amount}}</div>
                        {%endfor%}
                    </td>
                    <td>
                        <div> {{order.item.first.total_price}}</div>
                    </td>
                    <td>
                        <div> {{order.status}}</div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <a href="edit/"><button class="btn btn-success">EDIT</button></a> 
    </div>
{%endblock%}