{% extends 'orders/base.html'%}
{%block title%} {{user}} {%endblock%}
{%block h1%} <h1 class="title container display-3">{{user}}'s profile</h1> {%endblock%}
{% block body%}
    <div class="container">
        <h2 class="display-3">{{user}}</h2> <a href="edit/"><button class="btn btn-success">EDIT</button></a>
        {% if user.profile.firstname %} 
        <h3>First Name: {{user.profile.firstname}}</h3>
        {%endif%}
        {%if user.profile.lastname %}
        <h3>Last Name: {{user.profile.lastname}}</h3>
        {%endif%}
        {%if user.profile.address %}
        <h3>Address: {{user.profile.address}}</h3>
        {%endif%}
            <h3 class='text-center'>Orders</h3>
            {% for status in order_cat%}
            <table class='table w-100'>
            <h4>{{status}}:</h4>
            <thead class='thead-light'>
                <tr>
                    <th>Items</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {%for order in user.profile.orders.all%}
                {% if order.status.status_category.status_category == status.status_category%}
                <tr id={{order.id}}>
                    <td>
                        {%for item in order.item.all%}
                        <div> {{item.item}}</div>
                        {%endfor%}
                    </td>
                    <td>
                        {%for item in order.item.all%}
                        <div> {{item.amount}}</div>
                        {%endfor%}
                    </td>
                    <td>
                        <div> {{order.price}}</div>
                    </td>
                    <td>
                        <div> {{order.date}}</div>
                    </td>
                    <td>
                        <div> {{order.status}} <span class="cancel_order btn btn-danger">{%if status.status_category != 'History' %} cancel {%else%} remove {%endif%}</span></div>
                    </td>
                </tr>
                {% endif%}
                {%endfor%}
            </tbody>
            
        </table>
        {%endfor%}
         
    </div>
{%endblock%}